<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="../../../assets/js/vue.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        html, body {
            padding: 20px 10px;
        }
        h4 {
            line-height: 35px;
            letter-spacing: 1px;
            min-height: 45px;
            font-size: 20px;
            font-weight: 600;
        }
        .postbox {
            padding: 15px;
            margin-bottom: 30px;
        }
        .postbox:hover .img {
            background-size: 110% auto;
        }
        .postbox_inner {
            border: solid 1px rgba(0, 0, 0, 0.1);
            padding: 10px 20px;
            cursor: pointer;
        }
        .postbox_inner * {
            margin-bottom: 10px;
        }
        .postbox_inner .img {
            height: 200px;
            background-size: 100% auto;
            background-position: center center;
            transition: 0.5s;
            margin-left: -20px;
            margin-right: -20px;
            margin-top: -10px;
            margin-bottom: 20px;
        }
        .highlight {
            background-color: red;
            color: white;
            padding: 0px 5px;
        }
    
    </style>
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col-sm-12">
                <h2>Vue.js實作動態搜尋功能</h2>
                <hr/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col sm-1">
                <label>關鍵字  </label>
            </div>
            <div class="col-sm-11">
                <input class="form-control" v-model="filter" placeholder="輸入過濾字串"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5>共有{{ filtered_posts.length }}篇文章</h5>
            </div>
        </div>
        <div class="row">
            <postbox class="col-md-6 col-lg-4" v-for="p in filtered_posts" :post="p"></postbox>
        </div>
    </div>

    <template id="post">
        <div class="postbox">
            <div class="postbox_inner" @click="openlink" :title="'閱讀文章'">
                <div class="img" :style="covercss"></div>
                <h6 v-html="post.name_short"></h6>
                <h4 v-html="post.title"></h4>
                <p v-html="post.description"></p>
            </div>
        </div>
    </template>

    <script>
        Vue.component("postbox", {
            template: '#post',
            data: function(){
                return {
                }
            },
            props: ['post'],
            computed: {
                coverurl: function(){
                    if(this.post.cover.indexOf("/dropzone") > -1){
                        return "https://zashare.org" + this.post.cover.trim();
                    } else 
                        return this.post.cover.trim();
                },
                covercss: function(){
                    return {'background-image': 'url('+this.coverurl+')'};
                }
            },
            methods:{
                openlink: function(){
                    window.open("https://zashare.org/expo/blog/"+this.post.id);
                }
            },
        });

        var data = {
            posts: [],
            filter: '夢想',
        }
        var vue = new Vue({
            el: '#app',
            data: data,
            mounted: function(){
                var that = this;
                var post_api_url = "https://awiclass.monoame.com/api/command.php?type=get&name=post";
                $.get(post_api_url).then(function(res) {
                    that.posts = JSON.parse(res);
                    console.log(that.posts);
                });
            },
            computed: {
                filtered_posts: function(){
                    var filter = this.filter;
                    var field = ["title", "description", "name_short"];
                    return this.posts.filter(function(post){
                        var flag = false;
                        field.forEach(function(f){
                            if(post[f].toLowerCase().indexOf(filter.toLowerCase()) > -1){
                                flag = true;
                            }
                        });
                        return flag;
                    })
                    .map(function(post){
                        var tmp_post = JSON.parse(JSON.stringify(post)); // 深層複製
                        tmp_post.description = tmp_post.description.substr(0, 90) + '...'; // 改變描述長度
                        return tmp_post;
                    })
                    .map(function(post){ // 可以對array做加工
                        if(filter.trim() === '') 
                            return post;
                        // 改變關鍵字顏色
                        var reg = new RegExp(filter, "i"); // ignore case
                        field.forEach(function(f){
                            var match_word = post[f].match(reg);
                            console.log(match_word);
                            if(match_word)
                                post[f] = post[f].replace(reg, '<span class="highlight">' +match_word+ '</span>');
                        });
                        return post;
                    });
                }
            }
        });

        // 參考資料：https://www.youtube.com/watch?v=V-BLAZbSV1s
    </script>
</body>
</html>