<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="../../../assets/js/papaparse.min.js"></script>
    <script src="../../../assets/js/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <h2>即時匯率換算</h2>
            <form>
                <div class="form-group">
                    <label for="selCountry">選擇幣別：</label>
                    <select class="form-control" id="selCountry" v-model="selCountry">
                        <option value="">請選擇</option>
                        <option :value="countryCode[index]" v-for="(item, index) in country">{{item.type}}</option>
                    </select>
                </div>
                <div id="country_error" style="color: red;" v-show="error_country">請選擇幣別</div>

                <div class="form-group">
                    <label for="money">輸入金額：</label>
                    <input type="text" class="form-control" id="money" ref="money" disabled v-model="money">
                </div>
                <div id="money_error" style="color: red;" v-show="error_money">金額請輸入正整數</div>
            </form>
            <hr>
            <div class="table-responsive" id="table1" v-show="page === 'table1'">          
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr class="info">
                            <th>幣別</th>
                            <th>價格</th>
                        </tr>
                    </thead>
                    <tbody class="output">
                        <tr v-for="item in country" v-if="item.type !== '新台幣 (TWD)'">
                            <td>{{item.type}}</td>
                            <td>{{item.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive" id="table2" v-show="page === 'table2'">          
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr class="info">
                            <th>幣別</th>
                            <th>價格</th>
                        </tr>
                    </thead>
                    <tbody class="output">
                        <tr v-for="item in country" v-if="item.type === '新台幣 (TWD)'">
                            <td>{{item.type}}</td>
                            <td>{{item.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        var data = {
            country: [
                {type: '美金 (USD)', price: ''}, {type: '港幣 (HKD)', price: ''}, 
                {type: '英鎊 (GBP)', price:''}, {type: '澳幣 (AUD)', price:''}, 
                {type: '加拿大幣 (CAD)', price: ''}, {type: '新加坡幣 (SGD)', price: ''}, 
                {type: '瑞士法郎 (CHF)', price: ''}, {type: '日圓 (JPY)', price: ''}, 
                {type: '南非幣 (ZAR)', price: ''}, {type: '瑞典幣 (SEK)', price: ''}, 
                {type: '紐元 (NZD)', price: ''}, {type: '泰幣 (THB)', price: ''}, 
                {type: '菲國比索 (PHP)', price: ''}, {type: '印尼幣 (IDR)', price: ''}, 
                {type: '歐元 (EUR)', price: ''}, {type: '韓元 (KRW)', price: ''}, 
                {type: '越南盾 (VND)', price: ''}, {type: '馬來幣 (MYR)', price: ''}, 
                {type: '人民幣 (CNY)', price: ''}, {type: '新台幣 (TWD)', price: ''}],
            countryCode: [],
            exchangeRateIn: [],
            exchangeRateOut: [],
            selCountry: '',
            page: 'table1',
            error_country: false,
            error_money: false,
            money: '',
        }

        var vue = new Vue({
            el: '#app',
            data: data,
            methods: {
                calculate: function(){
                    if(!/^\d+$/.test(this.money)){
                        this.error_money = true;
                        return;
                    } 
                    this.error_money = false;
                    for(var i = 0; i < this.country.length; i++){
                        if(this.country[i].type === '新台幣 (TWD)'){
                            var target = this.selCountry;
                            var index = this.countryCode.findIndex(function(item){
                                return item === target;
                            });
                            var exchangedValue = parseFloat(this.money) * parseFloat(this.exchangeRateIn[index]);
                        } else {
                            var exchangedValue = parseFloat(this.money) / parseFloat(this.exchangeRateOut[i]);
                        }
                        this.country[i].price = addCommas(exchangedValue.toFixed(2));
                    }
                }
            },
            watch: {
                selCountry: function(val, old){
                    if(val) {
                        this.page = (val === 'TWD') ? 'table1': 'table2';
                        this.error_country = false;
                        this.$refs.money.disabled = false;
                        this.calculate();
                    } else {
                        this.error_country = true;
                        this.$refs.money.disabled = true;
                    }
                },
                money: function(val, old){
                    this.calculate();
                }
            },
            mounted: function(){
                for(var i = 0; i < this.country.length; i++){
                    var code = this.country[i].type.split(' (')[1].split(')')[0];
                    this.countryCode.push(code);
                }

                var vm = this;
                Papa.parse('exchangeRate.csv', {
                    header: false,
                    download: true,
                    dynamicTyping: true,
                    complete: function(results) {
                        data = results.data;
                        vm.exchangeRateIn = [];
                        vm.exchangeRateOut = [];
                        for(var i = 1; i < data.length; i++){
                            for(var j = 0; j < vm.countryCode.length; j++){
                                if(data[i][0] === vm.countryCode[j]){
                                    vm.exchangeRateIn.push(data[i][2]);
                                    vm.exchangeRateOut.push(data[i][12]);
                                    break;
                                }
                            }
                        }
                    }
                });
            },
        });

        function addCommas(val) { 
			//根據`.`作為分隔，將val值轉換成一個數組 
			var aIntNum = val.toString().split('.'); 
			// 整數部分 
			var iIntPart = aIntNum[0]; 
			// 小數部分（傳的值有小數情況之下） 
			var iFlootPart = aIntNum.length > 1 ? '.' + aIntNum[1] : ''; 
			var rgx = /(\d+)(\d{3})/; 
			// 如果整數部分位數大於或等於5 
			if (iIntPart.length >= 5) { 
				// 根據正則要求，將整數部分用逗號每三位分隔 
				while (rgx.test(iIntPart)) { 
					iIntPart = iIntPart.replace(rgx, '$1' + ',' + '$2'); 
				} 
			} // 如果小數部分位數大於或等於5 
			if (iFlootPart && iFlootPart.length >= 5) { 
				// 根據正則要求，將小數部分用每三位分隔按空格號分開 
				while (rgx.test(iFlootPart)) { 
					iFlootPart = iFlootPart.replace(/(\d{3})/g, '$1 '); 
				} 
			}
			// 將整數部分和小數組部分合並在一起，並返回 
			return iIntPart + iFlootPart; 
		}

    </script>
</body>
</html>
