<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hw_3_answer</title>
    <script type="text/javascript" src="../../../assets/js/vue.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="lang/language.js"></script> -->
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only" v-data-i18n="$tt('menu-change')">選單切換</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" v-data-i18n="$tt('css-coke')" @click.prevent="changePage('overview')">CSS可樂</a>
                </div>
                <!-- 手機隱藏選單區 -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <!-- 左選單 -->
                    <ul class="nav navbar-nav">
                        <li :class="{ 'active': whichPage === 'about' }"><a href="#" v-data-i18n="$tt('css-related-coke')" @click.prevent="changePage('about')">關於CSS可樂</a></li>
                        <li :class="{ 'active': whichPage === 'tutorial' }"><a href="#" v-data-i18n="$tt('css-tutorial')"  @click.prevent="changePage('tutorial')">CSS教學</a></li>
                        <li :class="{ 'active': whichPage === 'example' }"><a href="#" v-data-i18n="$tt('css-example')"  @click.prevent="changePage('example')">CSS範例</a></li>
                        <li :class="{ 'active': whichPage === 'original' }"><a href="#" v-data-i18n="$tt('css-original')"  @click.prevent="changePage('original')">原創CSS</a></li>
                    </ul>
                
                    <!-- 搜尋表單 -->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" id="searchText" placeholder="請輸入關鍵字">
                        </div>
                        <button type="submit" class="btn btn-default" v-data-i18n="$tt('search')">搜尋</button>
                    </form>
                
                    <!-- 右選單 -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Amos <span  v-data-i18n="$tt('greeting')">您好</span></a></li>
                        <li><a href="#" v-data-i18n="$tt('signoff')">登出</a></li>
                        <li><a href="#" class="navbar_btn" v-data-i18n="$tt('setting')" @click="setting">個人設定</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{languages[lang]}} <b class="caret"></b></a>
                            <ul class="dropdown-menu" id="langSelect">
                                <li :lang="key" v-for="(val, key) of languages" :key="key"><a href="#" @click.prevent="changeLang(key)">{{ val }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- 手機隱藏選單區結束 -->
            </div>
        </nav>
        <keep-alive>
            <component :is="whichPage" :i18n="i18n" :lang="lang" v-if="show"></component>
        </keep-alive>
    </div>
    <script>
        Vue.mixin({
            data: function(){
                return {
                    i18n: {},
                    lang: '',
                }
            },
            methods: {
                $t: function(key) {
                    var lang = localStorage.lang;
                    return (this.i18n && this.i18n[lang] && this.i18n[lang][key]) ? this.i18n[lang][key]: key;
                },
                $tt: function(key){
                    return {k: key, l: this.lang};
                },
                updatei18n: function(page){
                    // 2. Javascript內變數裡的變更
                    $('#searchText').attr('placeholder', this.$t('please-enter-keyword'));
                    if(page === 'about'){
                        $('#about-input').attr('placeholder', this.$t('about-input'));
                    }
                },
            },
        });

        Vue.directive('data-i18n', {
            bind: function(el, binding, vnode){ //被绑定
                var vm = vnode.context;
                var lang = localStorage.lang;
                var obj = binding.value;
                var key = (obj.k) ? obj.k: '';
                el.innerHTML = (vm.i18n && vm.i18n[lang] && vm.i18n[lang][key]) ? vm.i18n[lang][key]: key;
			},
            update: function(el, binding, vnode){ //被绑定
                var vm = vnode.context;
                var lang = localStorage.lang;
                var obj = binding.value;
                var key = (obj.k) ? obj.k: '';
                el.innerHTML =  (vm.i18n && vm.i18n[lang] && vm.i18n[lang][key]) ? vm.i18n[lang][key]: key;
			},
        
        });


        var overview = {
            template: `
                <div style="color: red;">
                    <p v-data-i18n="$tt('overview-text')">This is an about page<p>
                </div>
            `,
            props: ['i18n', 'lang'],
        }
        var about = {
            template: `
                <div>
                    <p v-data-i18n="$tt('about-text')" style="color: green;">This is an about page<p>
                    <input id="about-input" placeholder="">
                    <button @click="test" v-data-i18n="$tt('about-click')">click</button>
                </div>
            `,
            props: ['i18n', 'lang'],
            methods: {
                test: function(){
                    alert(this.$t('about-page-alert'));
                }
            },
            mounted: function(){
                this.updatei18n('about');
            }
        }
        var tutorial = {
            template: `
                <div style="color: blue;">
                    <p v-data-i18n="$tt('tutorial-text')">This is a tutorial page<p>
                </div>
            `,
            props: ['i18n', 'lang'],
        }
        var example = {
            template: `
                <div style="color: pink;">
                    <p v-data-i18n="$tt('example-text')">This is an example page<p>
                </div>
            `,
            props: ['i18n', 'lang'],
        }
        var original = {
            template: `
                <div style="color: yellow;">
                    <p v-data-i18n="$tt('original-text')">This is an original page<p>
                </div>
            `,
            props: ['i18n', 'lang'],
        }
        var data = {
            languages: {'zh_TW': '繁體中文', 'en_US': 'English', 'ja_JP': '日本語'},
            DEFAULT_LANGUAGE: 'zh_TW',
            i18nLoading: 0,
            show: false,
            whichPage: 'about',
        }
        var vue = new Vue({
            el: '#app',
            data: data,
            methods: {
                changeLang: function(lang) {
                    localStorage.lang = lang;
                    this.lang = lang;
                    this.updatei18n(this.whichPage);
                },
                setting: function(){
                    alert(this.$t('test-message'));
                },
                changePage: function(page){
                    this.whichPage = page;
                }
            },
            created: function(){
                var that = this;
                this.i18nLoading += 3;
                $.getJSON("lang/en_US.json", function(data) {
                    that.i18n.en_US = data;
                    that.i18nLoading--;
                });
                $.getJSON("lang/ja_JP.json", function(data) {
                    that.i18n.ja_JP = data;
                    that.i18nLoading--;
                });
                $.getJSON("lang/zh_TW.json", function(data) {
                    that.i18n.zh_TW = data;
                    that.i18nLoading--;
                });
            },
            watch: {
                i18nLoading: function(val, old){
                    if(val === 0){
                        var lang = localStorage.lang ? localStorage.lang: DEFAULT_LANGUAGE;
			            this.changeLang(lang);
                        this.show = true;
                    }
                }
            },
            components: {
                "overview": overview,
                "about": about,
                "tutorial": tutorial,
                "example": example,
                "original": original,
            },
        });
    </script>
</body>
</html>