<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>

<body>
    <!-- 當我有平行的元件,需要做資料傳遞時 -->
    <div id="app">
        <custom-elem1></custom-elem1>
        <hr>
        <custom-elem2></custom-elem2>
    </div>

    <script>
        // event bus 在他上面註冊各種事件的$emit和$on 
        var bus = new Vue();

        Vue.component('custom-elem1', {
            template: '<div class="custom-elem1">\
                        <input v-model="msg"> <button @click="submit">Submit</button>\
                      </div>',
            methods: {
                submit() {
                    bus.$emit('receive_event', this.msg);
                }
            },
            data() {
                return {
                    msg: '456'
                };
            }
        });
        
        Vue.component('custom-elem2', {
            template: '<div class="custom-elem2">{{ msg }}</div>',
            created() {
                var that = this;
                bus.$on('receive_event', function(newMsg) {
                    that.msg = newMsg;
                });
            },
            data() {
                return {
                    msg: '123'
                };
            }
        });

        var app = new Vue({
            el: '#app'
        });
    </script>

</body>

</html>
