<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="counter-event-example">
        <p>總來客量: {{ total }}</p>
        <button-counter door="前門" v-on:incrementevent="incrementTotal"></button-counter>
        <button-counter door="後門" v-on:incrementevent="incrementTotal"></button-counter>
        <!-- 來客數不計算工作人員 -->
        <button-counter door="工作人員專用門"></button-counter>
    </div>

    <script>
        Vue.component('button-counter', {
            template: '<button v-on:click="increment">{{ door }}來客+1 ( {{ counter }} )</button>',
            props: ['door'],
            data: function () {
                return {
                counter: 0
                }
            },
            methods: {
                /* 來客+1 */
                increment: function () {
                    this.counter += 1;
                    /* 通知主任，多了一人來客 */
                    this.$emit('incrementevent');
                }
            },
        });

        var vue = new Vue({
            el: '#counter-event-example',
            data: {
                total: 0
            },
            methods: {
                /* 主任得知來客+1，總來客量+1 */
                incrementTotal: function () {
                    this.total += 1;
                }
            }
        });
    </script>   
</body>
</html>