<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>component-2</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <h1>component-2</h1>
    <hr>
    <div id="app">
        <panda :from-here="message"></panda>
    </div>
    
    <script>
        var data = {
            message: 'China',
        }
        var vue = new Vue({
            el: '#app',
            data: data,
            components: {
                'panda': {
                    template: `<div style="color: green;">Panda from {{ fromHere }} </div>`,
                    props: ['fromHere'],
                }
            }
        });
    </script>
</body>
</html>