<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>props in, events out</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <h1>props in, events out</h1>
    <hr>
    <div id="app">
        <p>
            Parent: {{ msg }} 
            <p><input type="text" v-model = 'msg'></p>
        </p>
        <hr>
        <p>
            Child: <child :parent-msg="msg"></child>
        </p>
        <button @click="close">remove event</button>
    </div>
    
    <script>
        var option = {
                template: 
                `
                    <span>
                        {{ parentMsg }}             
                        <p>
                            <input type="text" v-model='msg'>
                            <button @click="updateText">Update</button>
                        </p>
                    </span>
                `,
                props: ['parentMsg'],
                data: function(){
                    return {
                        msg: this.parentMsg
                    }
                },
                methods: {
                    updateText: function(){
                        // this.$parent.$emit('updateEvent', this.msg); //this.$parent 拿到子元件的父層元件
                        vue.$emit('updateEvent', this.msg); // $emit('事件名稱', 傳遞資料); （1. 發射！！)
                    }
                    
                }
            }

        var data = {
            msg: 'China',
        }
        var vue = new Vue({
            el: '#app',
            data: data,
            components: {
                'child': option
            },
            methods:{
                selfUpdate: function(val){ // val是來自子元件的message
                    this.msg = val;
                },
                close: function(){
                    this.$off('updateEvent');
                }
            },
            mounted: function(){
                this.$on('updateEvent', this.selfUpdate); // this.$on('事件名稱', 執行方法); （2. 接收！！)
            }
        });
    </script>
</body>
</html>