<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L13_vue_set</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <h1>vue.set</h1>
    <hr>
    <div id="app">
        count: {{count}}
        <ol>
            <li v-for="item in arr">{{item}}</li>
        </ol>
    </div>
    <p><button onclick="add()"> Add </button></p>
    <script>
        function add(){
            // vue.count++; // 除了array或object之外，Vue都可以監聽到改變，所以用不用Vue.set()沒差
            // outData.count++;
            // Vue.set(outData, 'count', 2); 
            
            vue.arr[1] = 'ddd'; // 不會改變，因為Vue無法監聽到Array裡值或長度的改變
            // Vue.set(vue.arr, 1, 'ddd');  // 因此改用Vue.set()
        }
        var outData = {
            count: 1,
            arr: ['aaa', 'bbb', 'ccc'],
            
        }
        var vue = new Vue({
            el: '#app',
            data: outData,
        })
    </script>
</body>
</html>