<!DOCTYPE html>
<html>
<head>
	<title>Vue.directive 自定義指令</title>
	<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<div v-fabian="color">{{num}}</div>
		<button @click="add">ADD</button>
		<button onclick="unbind()">Unbind</button>

	</div>
	<script type="text/javascript">
		function unbind(){
			vue.$destroy();
		}

		Vue.directive('fabian', {
			bind:function(el, binding){//被绑定
			    console.log('1 - bind');
			    console.log(el);
				console.log(binding);
				el.style = 'color: ' + binding.value; 
			},
			inserted:function(){//绑定到節點
			      console.log('2 - inserted');
			},
			update:function(){//组件更新
			      console.log('3 - update');
			},
			componentUpdated:function(){//组件更新完成後
			      console.log('4 - componentUpdated');
			},
			unbind:function(){//解绑
			      console.log('5 - unbind');
			}
		});

		var data = {
			num: 1,
			color: 'green',
		}
		var vue = new Vue({
			el: '#app',
			data: data,
			methods: {
				add: function(){
					this.num++;
				}
			}
		})
	</script>
</body>
</html>