<!DOCTYPE html>
<html>
<head>
	<title>Vue.extend 構造器的延伸</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <div id="xxx"></div>

	<script type="text/javascript">
		var baseOptions = {
			template: '<p><a :href="authorUrl">{{ authorName }}</p>',
			data: function(){
				return {
					authorName: 'google的網站',
					authorUrl: 'http://www.google.com.tw'
				}
			}
		}

		var vueExtend = Vue.extend(baseOptions);

		// method 1:
        // new vueExtend().$mount('#xxx');

		// method 2:
        new vueExtend({
            el: '#xxx',
        });

		// 參考網站：https://www.w3cplus.com/vue/vue-extend.html
	</script>
</body>
</html>