<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L14_propsData</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <h1>propsData option</h1>
    <hr>
    <div id="xxx"></div>

	<script type="text/javascript">
		var baseOptions = {
			template: '<p><a :href="authorUrl">{{ authorName }} -- {{a}}</p>',
			data: function(){
				return {
					authorName: 'google的網站',
					authorUrl: 'http://www.google.com.tw'
				}
			},
            props: ['a']
		}

		var vueExtend = Vue.extend(baseOptions);
        
        // method 1:
        // new vueExtend({propsData: {a: 12} }).$mount('#xxx');

        // method 2:
        new vueExtend({
            el: '#xxx',
            propsData: { a: 12 } 
        });
	</script>
</body>
</html>