<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L15_vue_mixin</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <h1>mixins option</h1>
    <hr>
    <div id="app">
        {{ num }} - {{ globalVal }} - {{ localVal }}
        <p><button @click="add">add</button></p>
        <p><button @click="globalRemove">global mixin remove</button></p>
        <p><button @click="remove">local mixins remove</button></p>
    </div>
    
    <script>

        // 全域的混入
        Vue.mixin({
            data: function(){ return {globalVal: '全域混入來的變數'} },
            methods: {
                globalRemove: function(){
                    this.globalVal = '';
                }
            },
            updated: function(){
                console.log('我是全局的混入');
            },
        });

        // 局部的混入
        var addLogs = {
            data: { localVal: '局部混入來的變數' },
            methods: {
                remove: function(){
                    this.localVal = '';
                }
            },
            updated: function(){
                console.log('數據已發生變化！變成了'+this.num);
            }
        }

        var data = {
            num: 1
        }
        var vue = new Vue({
            el: '#app',
            data: data,
            methods: {
                add: function(){
                    this.num++;
                }
            },
            updated: function(){
                console.log('我是原生的updated');
            },
            // 可以有多個混入
            mixins: [addLogs]
        });

        // 注意：
        // 1. 全域的混入的先執行，然後構造器裡的再執行
        // 2. global mixin 會影響到所有組件 (包括第三方套件中的 Vue 組件實體) ，因此若牽涉到 data 及生命週期類的 mixin 需特別謹慎使用。
        // 3. 當混入的 method 名稱與組件內的相同，叫用時會以組件內定義的方法為主喔！
    </script>
</body>
</html>