<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L15_vue_mixin_v2</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
    <style>
    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
    /* Add animation to "page content" */
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
    }
    
    @-webkit-keyframes animatebottom {
        from { bottom:-100px; opacity:0 } 
        to { bottom:0px; opacity:1 }
    }
    
    @keyframes animatebottom { 
        from{ bottom:-100px; opacity:0 } 
        to{ bottom:0; opacity:1 }
    }
    </style>

</head>
<body>
    <div id="app">
        <div id="myDiv" class="animate-bottom" v-show="!loader">
            <h1>重複使用的方法三種做法</h1>
            <hr>
            請輸入名稱：<input type="text" v-model="name">
            <button @click="check">確認</button>
            <br>
            <div>
                <p>url: {{$constant.url}}</p>
            </div>
            <div>
                <button @click="addMask">add Mask</button>
            </div>
        </div>
        <div id="loader" v-show="loader"></div>
    </div>

    <script>
        // 作法一：自行定義的方法 / 物件直接掛上 Vue 的實體
        Vue.prototype.$isMyName = function(name){
            var check;
            if(name === 'Fabian')
                check = 'yes'
            else
                check = 'no';
            this.writeLog('Check finished');
            return check;
        }
        Vue.prototype.$constant = {
            url: 'http://127.0.0.1:8080',
            port: '8081'
        }

        // 做法三：全域的混入
        Vue.mixin({
            methods: {
                writeLog: function(msg){
                    console.log(msg);
                }
            },
        });

        // 做法二：局部的混入
        var maskMixin = {
            data: {
                loader: false,
            },
            methods: {
                addMask: function(){
                    this.loadingSetting(true);
                    this.writeLog('Start loading');

                    var that = this;
                    setTimeout(function(){ // call API
                        that.loadingSetting(false);
                        that.writeLog('End loading');
                    }, 1000);
                },
                loadingSetting: function(key){
                    this.loader = (key) ? true: false; 
                }
            },
        }

        var data = {
            name: ''
        }
        var vue = new Vue({
            el: '#app',
            data: data,
            methods: {
                check: function(){
                    this.writeLog('Start to check my name');
                    alert(this.$isMyName(this.name));
                }
            },
            // 可以有多個混入
            mixins: [maskMixin]
        });

        // 注意：
        // 1. 全域的混入的先執行，然後構造器裡的再執行
        // 2. global mixin 會影響到所有組件 (包括第三方套件中的 Vue 組件實體) ，因此若牽涉到 data 及生命週期類的 mixin 需特別謹慎使用。
        // 3. 當混入的 method 名稱與組件內的相同，叫用時會以組件內定義的方法為主喔！
    </script>
</body>
</html>