<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L15_vue_mixins_vs_extends</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <h1>mixins vs extends</h1>
    <hr>
    <div id="app">
        <div>現在name倒底是誰？{{ name }}</div>
    </div>
    
    <script>
        // 局部的衍生
        var extend = {
            created: function(){
                console.log('extends created');
            },
            data: function(){
                return {
                    name: 'extend name',
                }
            }
        }

        // 局部的混入
        var mixin1 = {
            created: function(){
                console.log('mixin1 created');
            },
            data: function(){
                return {
                    name: 'mixin1 name',
                }
            }
        }
        var mixin2 = {
            created: function(){
                console.log('mixin2 created');
            },
            data: function(){
                return {
                    name: 'mixin2 name',
                }
            }
        }
        
        var vue = new Vue({
            el: '#app',
            // data: { name: 'self name' },
            // 只可以有一個衍伸
            extends: extend,
            // 可以有多個混入
            mixins: [mixin1, mixin2],
            created: function(){
                console.log('created');
            },
        });

        // 注意：
        // 1. 觸發優先順序：extends > mixins > 本身
        // 2. mixins接受物件陣列（多重繼承），extends接受物件或方法（單一繼承）
        // 3. 子類再次聲明的話，變量重寫，以子類為準；若子類不聲明，以最後繼承的父類為準。

    </script>
</body>
</html>