<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <div>
            Message: ===={{msg}}=====
        </div>
        <div v-show="flag">
            <input type="text" ref="inputText">
        </div>
        <!-- <div v-if="flag">
            <input type="text" ref="inputText">
        </div> -->
        <button @click="change">change</button>
        <button @click="open">open</button>

    </div>
    <script>
        var data = {
            msg: '',
            flag: false,
        }
        var vue = new Vue({
            el: '#app',
            data: data,
            methods: {
                change: function(){
                    var that = this;
                    that.msg = 'changed'; //改變數據
                    console.log(that.$el.textContent); // DOM還沒更新
                    that.$nextTick(function(){
                        console.log(that.$el.textContent); // DOM更新完成
                    });
                },
                open: function(){
                    var that = this;
                    that.flag = true;
                    // that.$nextTick(function(){ //在第一個 tick 裡，獲取不到輸入框，故無法聚焦
                        that.$refs.inputText.focus();
                    // });
                },
            },
        })
    </script>
</body>
</html>