<!DOCTYPE html>
<html>
<head>
	<title>L16_vue_instance_methods</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <div id="xxx">
    </div>

	<script type="text/javascript">
		var baseOptions = {
			template: 
            `
                <div>
                    <p><a :href="authorUrl"> Google - {{ num }}</p>
                    <button @click="add">add</button>
                    <button @click="destroy">destroy</button>
                    <button @click="forceUpate">forceUpate</button>
                </div>
            `,
			data: function(){
				return {
					num: 0,
					authorUrl: 'http://www.google.com.tw'
				}
			},
            methods: {
                add: function(){
                    this.num++;
                },
                destroy: function(){
                    this.$destroy();
                },
                forceUpate: function(){
                    this.$forceUpdate();
                }
            },
            beforeCreate:function(){
                console.log('1-beforeCreate 初始化之前');
            },
            created:function(){
                console.log('2-created 创建完成');
            },
            beforeMount:function(){
                console.log('3-beforeMount 掛載之前');
            },
            mounted:function(){
                console.log('4-mounted 被掛載之後');
            },
            beforeUpdate:function(){
                console.log('5-beforeUpdate 数据更新前');
            },
            updated:function(){
                console.log('6-updated 被更新后');
            },
            activated:function(){
                console.log('7-activated');
            },
            deactivated:function(){
                console.log('8-deactivated');
            },
            beforeDestroy:function(){
                console.log('9-beforeDestroy 销毁之前');
            },
            destroyed:function(){
                console.log('10-destroyed 销毁之后')
            }
		}

		var vueExtend = Vue.extend(baseOptions);
        new vueExtend().$mount('#xxx');

	</script>
</body>
</html>