<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L16_vue_instance_options</title>
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <div ref="xxx">{{msg}}</div>
        <button @click="change">change</button>
        <button @click="show">show data</button>
    </div>
    <script>
        var data = {
            msg: 'Hello Vue!',
            others: 'test'
        }

        var app = new Vue({
            el: '#app',
            data: data,
            methods: {
                change: function(){
                    this.$refs.xxx.style.color = 'red';
                },
                show: function(){
                    console.log(this.$data);
                }
            }
        });
    </script>
</body>
</html>