<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L9_template</title>
	<script src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <h1>Vue.template 模板</h1>
    <hr>
    <div id="app">
        {{message}}
    </div>

    <template id="dd2">
        <h2 style="color: green;">我是template標籤模板</h2>
    </template>

    <script type="x-template" id="dd3">
        <h2 style="color: blue;">我是script標籤模板</h2>
    </script>

    <script>
        var data = {
            message: 'Hello World! Vue.js'
        }
        var vue = new Vue({
            el: '#app',
            data: data,
            template: '#dd2',
            
            // #dd1
            // template:
            // `
            //    <h2 style="color: red;">我是選項模板</h2>
            // `

            // 注意： 
            // 1. template不要寫在#app的Dom元素里
            // 2. #dd2比較常用
            // 3. 有template就只會render template內的內容，就不會再管#app裡的內容
        })
    </script>
</body>
</html>