<!DOCTYPE html>
<html lang="en">
<head>
  <title>L5_v-on</title>
	<script src="../../assets/js/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <h2>顏色列表</h2>
    <ul>
      <li v-for="color in colors">
        {{color}}
      </li>
    </ul>
   
    <h2>各家庭的父親</h2>
    <ul>
      <li v-for="home in homes">
        {{home.father}} <button v-on:click="show(home.father)">按我</button>
      </li>
    </ul>
  </div>

  <script type="text/javascript">
    var data = {
        colors : ['blue','red','black'],
        homes:[
          {father:'tom'},
          {father:'bob'},
          {father:'john'}
        ]
    };

    var app = new Vue({
      el:'#app',
      data: data,
      methods: {
        show: function(msg, type){
            alert('My father is ' + msg);
        }
      }
    });
    // Vue 官方的ＡＰＩ：https://cn.vuejs.org/v2/api/#%E6%8C%87%E4%BB%A4
  </script>
</body>
</html>