<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue lifecycle 生命週期</title>
	<script src="../../assets/js/vue.min.js"></script>
</head>
<body>
    <h1>Vue lifecycle</h1>
    <hr>
    <div id="app">
        {{message}} - {{count}}
        <br>
        <button @click="add"> Add </button>
        <button @click="vue.$destroy()"> Destroy </button>
    </div>
    
    <script>
        var data = {
            message: 'Hello World! Vue.js',
            count: 1,
        }
        var vue = new Vue({
            el: '#app',
            data: data,
            methods: {
                add: function(){
                    this.count++;
                }
            },
            beforeCreate:function(){
                console.log('1-beforeCreate：組件實體剛被建立,屬性計算之前。');
            },
            created:function(){
                console.log('2-created：組件實體已建立,屬性已綁定,但 DOM 還沒生成。');
            },
            beforeMount:function(){
                console.log('3-beforeMount：模板 (template) 編譯或掛載至 HTML 之前');
            },
            mounted:function(){
                console.log('4-mounted：模板 (template) 編譯或掛載至 HTML 之後');
            },
            beforeUpdate:function(){
                console.log('5-beforeUpdate：組件被更新之前');
            },
            updated:function(){
                console.log('6-updated：組件被更新之後');
            },
            activated:function(){
                console.log('7-activated：keep-alive 用,組件被啟動時呼叫');
            },
            deactivated:function(){
                console.log('8-deactivated：keep-alive 用,組件被移除時呼叫');
            },
            beforeDestroy:function(){
                console.log('9-beforeDestroy：組件被銷毀前呼叫');
            },
            destroyed:function(){
                console.log('10-destroyed：組件被銷毀後呼叫')
            }
        })
    </script>
</body>
</html>