<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../../assets/js/vue.min.js"></script>
    <title>L6_v-html</title>
</head>
<body>
    <div id="app">
        <div v-html="google"></div>
        <div>{{ jsnwork }}</div>
    </div>
    <script>
        var app = new Vue({
            el: '#app', 
            data: {
                jsnwork: '<a href="http://jsnwork.kiiuo.com">Jsnwork</a>',
                google: '<a href="http://google.com">Google</a>'
            },
        });
    </script>
</body>
</html>