<!DOCTYPE html>
<html>
<head>
	<title>v-pre & v-cloak & v-once</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app">
        <div>利用v-pre指令，跳過大量沒有指令的DOM元素，可以加快編譯。</div>
        <div v-pre>{{message}}</div>
        <hr>
        <div>v-cloak指令會保持在DOM節點上，直到資料渲染結束後才消失。</div>
        <div v-cloak>{{message}}</div>
        <hr>
        <div>v-once指令讓資料只渲染此元素一次。</div>
        <div v-once>{{message}}</div>
        <hr>
		<input type="text" v-model="message">
	</div>

	<script type="text/javascript">
		var data = {
			message: 'hello world!'
		}
		var vue = new Vue({
			el: '#app',
			data: data,
		});
	</script>
</body>
</html>